
@{
    ViewBag.Title = "Reserve";
}

<h2>Brytte Book Exchange-Reserved Book</h2>

<html>
<body>

    <h1>
        Congratulations!  You have reserved your Cavs book.  Please print this form and bring it to the Tri-C Main Campus located at:
    </h1>
    <h2>Address: 2900 Community College Ave, Cleveland, OH 44115</h2> <br />
       <h3>Phone: (800) 954-8742 </h3> 
    <br />
    <p>Click the button to print the current page.</p>

    <button onclick="myFunction()">Print this page</button>

    <script>
function myFunction() {
    window.print();
}
    </script>

</body>
</html>